#forecast {
  @include flexify( column-reverse);
  justify-content: space-between;
  background-color: $primaryDark;
  @include tablet {
    height: 35rem;
    @include flexify( row-reverse, space-between, false);
  }
}
.wrap-forecast {
  @include flexify( column, center, center);
  padding: 10% 2%;
  border-bottom: 0.5rem solid $primary;
  // row-reverse on parent container makes first child visually last
  &:first-child {
    border-bottom: none;
    @include tablet {
      border-right: none;
    }
  }
  img {
    width: 10rem;
  }
  @include tablet {
    flex-basis: 33%;
    margin: 0 auto;
    border-bottom: none;
    border-right: 0.5rem solid $primary;
  }
}
