.modalDialog{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity: 0;
	background: rgba($white, 0.7);
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
	div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		flex: 1;
		background: rgba($color-lgt-green,1);
		max-width: 80%;
		height: auto;
		padding: $base-spacing-med;
		border-radius: 1rem;
		box-shadow: 0.2rem 0.2rem 0.5rem rgba($color-grey, 0.5);
		@include desktop {
			max-width: 50%;
		}
		p{
			margin-bottom: 0;
		}
	}
	&:target{
		opacity: 1;
		pointer-events: auto;
	}
}
.close{
	padding: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	color: $color-grey;
	&:hover{
		color: black;
	}
}