h1, h2, h3, h4, h5, h6{
	font-family: $font-stack-mono;
}
h1{
	font-size: $font-base-size-extra-large;
}
h2{
	font-size: $font-base-size-med;
}
p,
button, 
a, 
input, 
textarea{
	font-size: $font-base-size;
	font-family: $font-stack-sans;

}
p{
	line-height: 1.5;
	padding: $base-spacing 0 ;
}
a{
	text-decoration: none;
}