h1, h2, h3, h4, h5, h6 {
  @include type-style('Roboto');
  margin-bottom: 1rem;
}
h1 {
  @include type-style(false, 5rem, 700);
}
h2 {
  @include type-style(false, 3rem, 400);
}
p,
button,
a,
input,
textarea {
  @include type-style('Roboto', 1.6rem, 100);
}
p {
  margin-bottom: 1.3rem;
}
a {
	text-decoration: none;
}
